<%= simple_form_for @profile, url: "/user/profile" do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :relationship %>
    <%= f.input :about %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zipcode %>
    <%= f.input :grade %>
    <%= f.input :home_phone %>
    <% if current_user.teacher? %>
      <%= f.input :subject %>
      <%= f.input :work_phone %>
      <%= f.input :position %>
      <%= f.input :started_teaching %>
    <% end %>
  </div>

  <div class="form-inputs">
    <%= f.button :submit %>
  </div>
<% end %>
