
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1>
      <%= @user.first_name %>, here is your weekly digest for the Schools Fund Friends and Family Grant Portal.    </h1>
    <% @grants.each do |g%>
      <h2>
        <%= g.title %>: currently at <%= g.crowdfunder.progress %>
        <br>
      </h2>
      <p>
        You only have <%= g.days_left %> days left until your deadline! Try sharing your grant on social media to raise the last $<%= g.total_budget-g.amount_raised %>. Here is the link to your grant: <%= 'https://bpsfgrants.herokuapp.com/grants/' + (g.id).to_s %>.
        <br>
      </p>
    <% end %>
  </body>