<ul class="tabs block-width" data-tabs data-match-height="true" id="account-tabs">
  <li class="tabs-title is-active blocked"><a class="text-center" href="#user-profile" aria-selected="true">Profile</a></li>
  <li class="tabs-title blocked"><a class="text-center" href="#account">Account Settings</a></li>
  <li class="tabs-title blocked"><a class="text-center" href="#payment">Payment History</a></li>
  <li class="tabs-title blocked"><a class="text-center" href="#credit-card">Payment Settings</a></li>
</ul>

<div class="tabs-content" data-tabs-content="account-tabs">
  <div class="tabs-panel is-active" id="user-profile">
    <div class="row">
      <% if !@user.profile %>
        <div class="float-center">
          <%= button_to "Create Profile", new_user_profiles_path, method: "get", class: "button warning" %>
        </div>
      <% else %>
        <div class="columns small-6">
          <% if current_user.role == "teacher" %>
            <p class="text-right">About:</p>
            <p class="text-right">Position:</p>
            <p class="text-right">Subject:</p>
            <p class="text-right">Teacher Since:</p>
          <% end %>
          <p class="text-right">Address:</p>
          <p class="text-right">City:</p>
          <p class="text-right">State:</p>
          <p class="text-right">Zip:</p>
          <p class="text-right">Home Phone:</p>
          <p class="text-right">Work Phone:</p>
        </div>
        <div class="user-attribute-values columns small-6">
        <% if current_user.role == "teacher" %>
          <p><%= @profile.about %></p>
          <p><%= @profile.position %></p>
          <p><%= @profile.subject %></p>
          <p><%= @profile.started_teaching %></p>
        <% end %>
          <p><%= @profile.address %></p>
          <p><%= @profile.city %></p>
          <p><%= @profile.state %></p>
          <p><%= @profile.zipcode %></p>
          <p><%= @profile.home_phone %></p>
          <p><%= @profile.work_phone %></p>
        </div>
      <% end %>
    </div>
    <% if @user.profile %>
      <div class="columns small-12">
        <%= button_to "Edit Profile", edit_user_profiles_path, class: "button warning float-center", method: "get" %>
      </div>
    <% end %>
  </div>
  <div class="tabs-panel" id="account">
    <div class="row">
      <div class="user-attributes small-6">
        <p class="text-right">First Name:</p>
        <p class="text-right">Last Name:</p>
        <p class="text-right">Email:</p>
        <p class="text-right">Relationship:</p>
      </div>
      <div class="user-attribute-values small-6">
        <p> <%= @user.first_name %> </p>
        <p> <%= @user.last_name %> </p>
        <p> <%= @user.email %> </p>
        <p> <%= @user.role %> </p>
      </div>
    </div>
    <div class="columns small-12">
      <%= button_to "Edit Account Settings", edit_user_registration_path, class: "button warning float-center", method: "get" %>
    </div>
  </div>
  <div class="tabs-panel" id="payment">
    <div class="row">
      <% if @payments.length == 0 %>
        <h4 class="float-center">You have not pledged to any grants.</h4>
      <% else %>
      <table>
        <thead>
          <tr>
            <th>Pledged On:</th>
            <th>Amount:</th>
            <th>Grant Name</th>
            <th>Grant Status</th>
            <th>Payment Status</th>
          </tr>
        </thead>
        <tbody>
          <% @payments.each do |payment| %>
          <tr>
            <td><%= payment.created_at.strftime('%B %d, %Y') %></td>
            <td>$<%= payment.amount %></td>
            <td><%= link_to payment.grant.title, grant_path(payment.grant) %></td>
            <td><%= payment.grant.status %></td>
            <td><%= payment.status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  <div class="tabs-panel" id="credit-card">
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Default</th>
            <th>Name On Card</th>
            <th>Last Four</th>
            <th>Expiration Date</th>
            <th>Provider</th>
            <th>Card Type</th>
            <th>Billing Address</th>
            <th>Edit Card</th>
            <th>Delete Card</th>
          </tr>
        </thead>
        <tbody>
          <% @customer.sources.each_with_index do |card, index| %>
            <tr id="card<%= index %>">
              <td style="text-align: center;">
                <% if card.id == @customer.default_source %>
                  <span class="badge success"><%= fa_icon "check" %></span>
                <% end %>
              </td>
              <td><%= card.name %></td>
              <td><%= card.last4 %></td>
              <td><%= Date.new(card.exp_year, card.exp_month).strftime('%B %Y') %></td>
              <td><%= card.brand %></td>
              <td><%= card.funding %></td>
              <td>
                <%if card.address_line1%>
                  <%=  "#{card.address_line1}  #{card.address_line2} #{card.address_city}, #{card.address_state}, #{card.address_zip}" %>
                <% end %>
              </td>
              <td style="text-align: center;"><span class="badge click warning"><%= fa_icon "pencil", style: "color: white;"%></span></td>
              <td style="text-align: center;">
                <% if card.id == @customer.default_source %>
                  <span class="badge secondary"><%= fa_icon "times" %></i></span>
                <% else %>
                  <%= form_tag delete_card_path, method: 'delete' do %>
                    <%= hidden_field_tag :card_id %>
                    <span class="badge click alert"><%= fa_icon "times" %></i></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="button warning new-card">Add Card</div>
      <%= render "new_card"%>
      <% @customer.sources.each_with_index do |card, index| %>
        <div class="edit-card-form card<%= index %>" style="width: 100%; display: none;">
          <%= render "edit_card", card: card %>
        </div>
      <% end %>
    </div>
  </div>
</div>
