<h2 style="text-align: center"><%= current_user.first_name%> <%= current_user.last_name%></h2>

<p hidden id="current-tab">
  <% if @current_tab %>
    <%= @current_tab %>
  <% else %>
    #user-profile-label
  <% end -%>
</p>

<div class="show-for-medium">
  <%= render "horizontal" %>
</div>

<div class="show-for-small-only">
  <%= render "vertical" %>
</div>
