<h2 style="text-align: center"><%= @user.first_name%> <%= @user.last_name%></h2>

<div class="profile row small-12">
  <div class="profile-section small-4" id="account">My Account</div>
  <div class="profile-section small-4" id="payment">Payment History</div>
  <div class="profile-section small-4" id="credit-card">Update Credit Card Info</div>
</div>
<div class="account-section-info">
  <div class="profile account">
    <div class="row">
      <div class="user-attributes small-6">
        <% if @user.role == "friends and family" %>
        <p>Email:</p>
        <p>Relationship:</p>
        <p>Address:</p>
        <p>Phone:</p>
        <% else %>
        <p>Email:</p>
        <p>School:</p>
        <p>Years of Experience:</p>
        <p>Grade Level(s):</p>
        <p>Subject(s):</p>
        <p>Teacher Background</p>
        <p>Address:</p>
        <p>Work Phone:</p>
        <p>Home Phone:</p>
        <% end %>       
      </div>
      <div class="user-attribute-values small-6">
        <% if @user.role == "friends and family" %>
        <p> <%= @user.email %> </p>
        <p> <%= @user.profile.relationship %> </p>
        <p> <%= @user.profile.address %> </p>
        <p> <%= @user.profile.home_phone %> </p>
        <% else %>
        <p> <%= @user.email %> </p>
        <p> <%= @school.name %> </p>
        <p> <%= time_ago_in_words(@start) %> </p>
        <p> <%= @user.profile.grade %> </p>
        <p> <%= @user.profile.subject %> </p>
        <p> <%= @user.profile.about %> </p>
        <p> <%= @user.profile.address %> </p>
        <p> <%= @user.profile.work_phone %> </p>
        <p> <%= @user.profile.home_phone %> </p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="profile payment">
    payment history stuff
  </div>

  <div class="profile credit-card">
    Update your credit card info here
  </div>
</div>