<div class="title-bar hide-for-medium" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <button class="menu-icon align-center" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar hide-for-medium" id="example-animated-menu" data-animate="fade-in fade-out">
  <div class="top-bar-left">
    <ul class="vertical dropdown menu" data-dropdown-menu>
      <li>
        <h1><%= fa_icon "file-text-o", class:"float-left"  %><small><a class="main-links align-center" href="#">Grants</a></small></h1>
      </li>
      <li>
        <h1><%= fa_icon "users", class:"float-left"  %><small><a class="main-links align-center"  href="#">About Us</a></small></h1>
      </li>
      <li>
        <h1><%= fa_icon "question-circle-o", class:"float-left"  %><small><a class="main-links align-center"  href="#">For Teachers</a></small></h1>
      </li>
      <li>
        <h1><%= fa_icon "question-circle-o", class:"float-left"  %><small><a class="main-links align-center"  href="#">For Friends and Family</a></small></h1>
      </li>
      <li>
        <h1><%= fa_icon "envelope-o", class:"float-left"  %><small><a class="main-links align-center"  href="#">Contact</a></small></h1>
      </li>
      <li>
        <h1><%= fa_icon "user-o", class:"float-left" %><small><a class="main-links align-center"  href="#">Account</a></small></h1>
      </li>
    </ul>
  </div>
</div>
