<div class="title-bar hide-for-medium" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <a class="text-center menu-button" data-toggle><span class="menu-icon "></span><span class="title-bar-title ">Menu</span></a>
  
</div>

<div class="top-bar hide-for-medium" id="example-animated-menu" data-animate="fade-in fade-out">
  <div class="top-bar-left">
    <ul class="vertical dropdown menu" data-dropdown-menu>
      <li class="dropdown-li">
        <%= link_to grants_path do %>
          <h2><%= fa_icon "file-text-o", class:"float-left" %><span class="main-links float-center">Grants</span></h2>
        <% end %>
      </li>
      <li class="dropdown-li">
        <a data-open="aboutModal">
          <h2><%= fa_icon "users", class:"float-left"  %><span class="main-links float-center"  href="#">About Us</span></h2>
        </a>
        <div class="reveal" id="aboutModal" data-reveal>
          <%= render 'shared/about' %>
        </div>
      </li>
      <li class="dropdown-li">
        <a data-open="teacherModal">
          <h2><%= fa_icon "question-circle-o", class:"float-left"  %><span class="main-links float-center">For Teachers</span></h2>
        </a>
        <div class="reveal" id="teacherModal" data-reveal>
          <%= render 'shared/for_teachers' %>
        </div>
      </li>
      <li class="dropdown-li">
        <a data-open="friendModal">
          <h2><%= fa_icon "question-circle-o", class:"float-left"  %><span class="main-links float-center">For Friends and Family</span></h2>
        </a>
        <div class="reveal" id="friendModal" data-reveal>
          <%= render 'shared/for_friends_and_family' %>
        </div>
      </li>
      <li class="dropdown-li">
        <%= link_to new_contact_form_path do %>
          <h2><%= fa_icon "envelope-o", class:"float-left"  %><span class="main-links float-center">Contact</span></h2>
        <% end %>
      </li>
      <li class="dropdown-li">
        <a href="#">
          <h2><%= fa_icon "user-o", class:"float-left" %><span class="main-links float-center">Account</span></h2>
        </a>
      </li>
    </ul>
  </div>
</div>
