<div class="nav show-for-medium">
  <ul class="dropdown menu expanded" data-dropdown-menu>

    <li>
      <h1><%= fa_icon "file-text-o" %></h1>
      <a class="main-links align-center"  href="#">Grants</a>
      <ul class="menu">
        <li><a class="dropdown-links align-center"  href="#">View All</a></li>
        <% if current_user and current_user.teacher? %>
          <li><a class="dropdown-links align-center"  href="#">Create New</a></li>
        <% end %>
      </ul>
    </li>

    <li>
      <h1><%= fa_icon "users" %></h1>
      <a class="main-links align-center"  href="#">About Us</a>
    </li>

    <li>
      <h1><%= fa_icon "question-circle-o" %></h1>
      <a class="main-links align-center"  href="#">FAQ</a>
      <ul class="menu">
        <li><a class="dropdown-links align-center"  href="#">For Teachers</a></li>
        <li><a class="dropdown-links align-center"  href="#">For Friends and Family</a></li>
      </ul>
    </li>

    <li>
      <h1><%= fa_icon "envelope-o" %></h1>
      <a class="main-links align-center"  href="#">Contact</a>
    </li>

    <li>
      <h1><%= fa_icon "user-o" %></h1>
      <a class="main-links align-center"  href="#">Account</a>
      <ul class="menu">
        <% if !current_user %>
          <li><%= link_to "Sign In", new_user_session_path, class: "dropdown-links align-center" %></li>
          <li><%= link_to "Register", new_user_registration_path, class: "dropdown-links align-center" %></li>
        <% else %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "dropdown-links align-center" %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
