<div class="nav show-for-medium">
  <ul class="dropdown menu expanded" data-dropdown-menu>

    <li>
      <h1><%= fa_icon "file-text-o" %></h1>
      <a class="main-links align-center" href="#">Grants</a>
    </li>

    <li>
      <h1><%= fa_icon "users" %></h1>
      <a class="main-links align-center"  href="#">About Us</a>
    </li>

    <li>
      <h1><%= fa_icon "question-circle-o" %></h1>
      <a class="main-links align-center"  href="#">FAQ</a>
      <ul class="menu">
        <li><a class="dropdown-links align-center"  href="#">For Teachers</a></li>
        <li><a class="dropdown-links align-center"  href="#">For Friends and Family</a></li>
      </ul>
    </li>

    <li>
      <h1><%= fa_icon "envelope-o" %></h1>
      <a class="main-links align-center"  href="#">Contact</a>
    </li>

    <li>
      <h1><%= fa_icon "user-o" %></h1>
      <a class="main-links align-center"  href="#">Account</a>
    </li>
  </ul>
</div>
