<div class="footer show-for-medium">
  <div class="row">
    <div class="medium-2 small-12 columns">
      <h5>Explore</h5>
      <p><%= link_to "Home", root_path %></p>
      <p><a data-open="aboutModal">About Us</a></p>
      <p><%= link_to "Volunteer", "https://www.berkeleypublicschoolsfund.org/volunteer/" %></p>
    </div>
    <div class="medium-2 small-12 columns">
      <h5>Account</h5>
      <p><%= link_to "Sign In", new_user_session_path %></p>
      <p><%= link_to "Sign Up", new_user_registration_path %></p>
    </div>
    <div class="medium-2 small-12 columns">
      <h5>Contact</h5>
      <p><a href="mailto:schoolsfund@berkeley.net">schoolsfund@berkeley.net</a></p>
      <p>510-644-6244</p>
      <p><%= link_to "Facebook", "https://www.facebook.com/berkeleypublicschoolsfund/" %></p>
    </div>
    <div class="large-4 large-offset-2 medium-3 medium-offset-3 small-12 columns">
      <p>All grants have been reviewed and approved by the Berkeley Public Schools Fund</p>
    </div>
  </div>
</div>
