<div class="news-image-gallery-container">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <% if @grants.length > 0 %>
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
          <ul class="orbit-container">
              <li class="is-active orbit-slide">
                <%= link_to grant_path(@grants.first) do %>
                  <%= cl_image_tag(@grants.first.image) %>
                  <figcaption class="orbit-caption">
                    <h3><%= @grants.first.title %></h3>
                    <h4><span class="amount">$<%= @grants.first.amount_raised %></span> of $<%= @grants.first.with_admin_cost %>
                      <% if @grants.first.days_left > 1 %>
                        with <%= pluralize(@grants.first.days_left, 'day') %> left
                      <% elsif @grants.first.days_left > 0 %>
                        Last day to Donate!
                      <% else %>
                        Past Deadline
                      <% end %>
                    </h4>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= @grants.first.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= @grants.first.with_admin_cost %>">
                      <div class="progress-meter" style="width: <%= @grants.first.progress %>"></div>
                    </div>
                  </figcaption>
                <% end %>
              </li>
            <% @grants.drop(1).each do |grant| %>
                <li class="orbit-slide">
                  <%= link_to grant_path(grant) do %>
                  <%= cl_image_tag(grant.image)%>
                  <figcaption class="orbit-caption">
                    <h3><%= grant.title %></h3>
                    <h4><span class="amount">$<%= grant.amount_raised %></span> of $<%= grant.with_admin_cost %>
                      <% if grant.days_left > 1 %>
                        with <%= pluralize(grant.days_left, 'day') %> left
                      <% elsif grant.days_left > 0 %>
                        Last day to Donate!
                      <% else %>
                        Past Deadline
                      <% end %>
                    </h4>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= grant.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= grant.with_admin_cost %>">
                      <div class="progress-meter" style="width: <%= grant.progress %>"></div>
                    </div>
                  </figcaption>
                  <% end %>
                </li>
            <% end %>
          </ul>
          <nav class="orbit-bullets">
              <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <% @grants.drop(1).each_with_index do |grant, index| %>
              <button data-slide="<%= index+1 %>"><span class="show-for-sr">Second slide details.</span></button>
            <% end %>
          </nav>
        </div>
      <% else %>
        <div class="flex-video widescreen vimeo">
          <iframe src="https://player.vimeo.com/video/139242236" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="clearfix"></div>
      <h4 class="news-image-gallery-title text-center">Welcome to the Berkeley Public Schools Fund for Friends & Family Grants</h4>
      <p class="text-center">This is a crowdfunding platform exclusively for Berkeley teachers! Anyone can donate to a grant, and the site is searchable by teacher and school.</p>
    </div>
    <hr>
  </div>
</div>
<hr>
<h2>Recent Grants</h2>
<h4>Filter by:</h4>
<%= form_tag(grants_path, :method => "get", enforce_utf8: false, id: "filter-form") do %>
  <div class = "row">
    <div class="medium-3 columns">
      <%= label_tag :filter, "Status" %>
      <%= select_tag :filter, options_for_select({All: 1, Crowdfunding: "approved", Successful: "successful"}, params[:filter] ), id: "filter-select" %>
    </div>
    <div class="medium-3 columns">
      <%= label_tag :school_id, "School" %>
      <%= select_tag :school_id, options_from_collection_for_select(@school, "id", "name", params[:school_id]), id: "school-select", include_blank: "All" %>
    </div>
      <div class="medium-3 columns">
      <%= label_tag :teacher, "Teacher's last name" %>
      <%= text_field_tag :teacher, params[:teacher], placeholder: "Teacher's last name" %>
    </div>
    <div class="medium-3 columns">
      <%= submit_tag "Apply filters", class: "button warning", style: "transform: translateY(50%)" %>
    </div>
  </div>
<% end %>
<hr>

<% unless @grants.empty? %>
  <div class="grant-container show-for-medium">
    <% @grants.each do |grant| %>
      <%= render "grants/grantspartial", grant: grant %>
    <% end %>
  </div>
  <div class="grant-container hide-for-medium">
    <% @grants.each do |grant| %>
      <%= render "grants/grantscard", grant: grant %>
    <% end %>
  </div>
  <div class="small-12 columns">
    <%= will_paginate @grantslist, class: "apple_pagination" %>
  </div>
<% else %>
  <br>
  <h4 style="text-align: center;"> No results found</h4>
<% end %>

