<div class="news-image-gallery-container">
  <div class="row">
    <div class="small-12 medium-12 large-8 columns">
      <% if @grants.length > 0 %>
        <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
          <ul class="orbit-container">
              <li class="is-active orbit-slide">
                <%= link_to grant_path(@grants.first) do %>
                  <%= image_tag(@grants.first.image) %>
                  <figcaption class="orbit-caption">
                    <h3><%= @grants.first.title %></h3>
                    <h4><span class="amount">$<%= @grants.first.amount_raised %></span> of $<%= @grants.first.total_budget %>
                      <% if @grants.first.days_left > 1 %>
                        with <%= pluralize(@grants.first.days_left, 'day') %> left
                      <% elsif @grants.first.days_left > 0 %>
                        Last day to Donate!
                      <% else %>
                        Past Deadline
                      <% end %>
                    </h4>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= @grants.first.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= @grants.first.total_budget %>">
                      <div class="progress-meter" style="width: <%= @grants.first.percent_complete %>%"></div>
                    </div>
                  </figcaption>
                <% end %>
              </li>
            <% @grants.drop(1).each do |grant| %>
                <li class="orbit-slide">
                  <%= link_to grant_path(grant) do %>
                  <%= image_tag(grant.image)%>
                  <figcaption class="orbit-caption">
                    <h3><%= grant.title %></h3>
                    <h4><span class="amount">$<%= grant.amount_raised %></span> of $<%= grant.total_budget %>
                      <% if grant.days_left > 1 %>
                        with <%= pluralize(grant.days_left, 'day') %> left
                      <% elsif grant.days_left > 0 %>
                        Last day to Donate!
                      <% else %>
                        Past Deadline
                      <% end %>
                    </h4>
                    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= grant.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= grant.total_budget %>">
                      <div class="progress-meter" style="width: <%= grant.percent_complete %>%"></div>
                    </div>
                  </figcaption>
                  <% end %>
                </li>
            <% end %>
          </ul>
          <nav class="orbit-bullets">
              <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <% @grants.drop(1).each_with_index do |grant, index| %>
              <button data-slide="<%= index+1 %>"><span class="show-for-sr">Second slide details.</span></button>
            <% end %>
          </nav>
        </div>
      <% else %>
        <div class="flex-video widescreen vimeo">
          <iframe src="https://player.vimeo.com/video/139242236" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
    <div class="small-12 medium-12 large-4 columns">
      <div class="clearfix"></div>
      <h4 class="news-image-gallery-title text-center">Welcome to the Berkeley Public Schools Fund for Friends & Family Grants</h4>
      <p class="text-center">This is a crowdfunding platform exclusively for Berkeley teachers! Anyone can donate to a grant, and the site is searchable by teacher, school, and subject area.</p>
    </div>
  </div>
</div>
