<%= form_tag grant_payments_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <div class="input-group">
    <%= label_tag(:amount, '$USD:', class: "input-group-label") %>
    <%= text_field_tag :amount, "", class: "input-group-field" %>
    <div class="input-group-button">
      <% if current_user and current_user.stripe_token? %>
        <input type="submit" class="button warning donation" value="Donate">
      <% else %>
        <%= hidden_field_tag(:stripeToken) %>
        <button id='donateButton', class="button warning donation">Donate</button>
      <% end %>
    </div>
  </div>
<% end %>