<%= form_tag grant_payments_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <div class="input-group">
    <%= label_tag(:amount, '$USD:', class: "input-group-label") %>
    <%= text_field_tag :amount, "", class: "input-group-field" %>
    <%= hidden_field_tag(:stripeToken) %>
    <div class="input-group-button">
      <button id='donateButton', class="button warning donation">Donate</button>
    </div>
  </div>
<% end %>
