<%= simple_form_for @grant do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :subject_areas %>
    <%= f.input :grade_level %>
    <%= f.input :duration %>
    <%= f.input :num_classes %>
    <%= f.input :num_students %>
    <%= f.input :total_budget %>
    <%= f.input :funds_will_pay_for %>
    <%= f.input :budget_desc %>
    <%= f.input :purpose %>
    <%= f.input :methods %>
    <%= f.input :background %>
    <%= f.input :num_collabs %>
    <%= f.input :collaborators %>
    <%= f.input :comments %>
    <%= f.input :state %>
    <%= f.input :video %>
    <%= f.input :image %>
    <%= f.input :deadline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
