<div id="blur-div">
  <div id="crop-contain">
    <img src="#" id="grant-img-preview">
  </div>
  <button class="succes button crop-img">Save</button>
</div>
<%= simple_form_for @grant do |f| %>
  <%= f.error_notification %>
  <img src="#" class="final-crop">
  <div class="form-inputs">
    <%= f.input :image, class: "button" %>
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :subject_areas %>
    <%= f.input :grade_level %>
    <%= f.input :duration %>
    <%= f.input :num_classes %>
    <%= f.input :num_students %>
    <%= f.input :total_budget %>
    <%= f.input :funds_will_pay_for %>
    <%= f.input :budget_desc %>
    <%= f.input :purpose %>
    <%= f.input :methods %>
    <%= f.input :background %>
    <%= f.input :num_collabs %>
    <%= f.input :collaborators %>
    <%= f.input :comments %>
    <%= f.input :state %>
    <%= f.input :video %>
    <%= f.input :deadline %>
    <%= f.hidden_field :status, id: "status" %>
  </div>

    <%= f.button :submit, class: 'hide', id: "new-grant" %>
    <a href="<%= grants_path %>"><button type="button" name="button" class="button primary hollow">Back</button></a>
    <button type="button" name="button" id="submit" class="button float-right warning hollow"><strong>Submit</strong></button>
    <button type="button" name="button" id="draft" class="button float-right secondary hollow"><strong>Save as Draft</strong></button>
<% end %>
