<%= link_to grant_path(grant), class: "grant-row-partial" do %>
  <div class="grant-row row align-middle">
    <div class="columns medium-6 large-4 show-for-medium">
      <%= image_tag(grant.image, class: "grant-partial-image")%>
    </div>
    <div class="columns medium-6 large-8 small-12">
      <h3 class="hover-orange"><%= grant.title %></h3>
      <p><%= grant.user.first_name %> <%= grant.user.last_name %> | <%= grant.school.name %></p>
      <h6><%= grant.summary %></6>
      <h4><span class="amount">$<%= grant.amount_raised %></span> of $<%= grant.total_budget %>
        <% if grant.days_left > 1 %>
          with <%= pluralize(grant.days_left, 'day') %> left
        <% elsif grant.days_left > 0 %>
          Last day to Donate!
        <% else %>
          <%= grant.status %>
        <% end %>
      </h4>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= grant.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= grant.total_budget %>">
        <div class="progress-meter" style="width: <%= grant.percent_complete %>%"></div>
      </div>
    </div>
  </div>
<% end %>
