<%= link_to grant_path(grant), class: "grant-row-partial" do %>
  <div class="card grant-row row">
    <%= cl_image_tag(grant.image, class: "grant-partial-image float-center")%>
    <div class="columns medium-6 large-8 small-12">
      <h3 class="text-center hover-orange"><%= grant.title %></h3>
      <p class="text-center"><%= grant.user.first_name %> <%= grant.user.last_name %></p>
      <p class="text-center"><%= grant.school.name %></p>
      <h6 class="text-justify"><%= grant.summary %></6>
      <h4 class="text-center"><span class="amount">$<%= grant.amount_raised %></span> of $<%= grant.with_admin_cost %>
        <% if grant.days_left > 1 %>
          with <%= pluralize(grant.days_left, 'day') %> left
        <% elsif grant.days_left > 0 %>
          Last day to Donate!
        <% else %>
          <%= grant.status %>
        <% end %>
      </h4>
      <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= grant.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= grant.with_admin_cost %>">
        <div class="progress-meter" style="width: <%= grant.progress %>"></div>
      </div>
    </div>
  </div>
<% end %>
