
<%= content_for :title, @grant.title %> 
<div class="row">
  <div class="columns small-12">
    <span class = "float-left">
      <% if @grant.status == "approved" %>
          <div class="social-icon" data-bp-social='facebook'>
            <a class="fb-button"><i class="fa fa-facebook-square fa-2x"></i></a>
          </div>
          <div class ="social-icon" data-bp-social='twitter'>
            <a class = "tw-button"><i class="fa fa-twitter fa-2x"></i></a>
          </div>
          <div class="social-icon" data-bp-social='mail'>
            <a class="mail-button"><i class="fa fa-envelope fa-2x"></i></a>
          </div>
        <% end %>
    </span>
    <h2 class="text-center"><%= @grant.title %>
    </h2>
  
    <h5 class="text-center">By <%= @grant.user.first_name %> <%= @grant.user.last_name %> at <%= @grant.school.name %></h5>
    <% if @grant.user == current_user && @grant.status == "draft"%>
      <a href="<%= edit_grant_path(@grant) %>" id="edit-button" class="float-center button warning"><%= fa_icon "pencil 2x" %></a>
    <% else %>
      <h4 class="text-center"><%= @grant.display_status %></h4>
    <% end %>
    <hr>
  </div>
  
</div>

<div class="row align-middle">
  <div class="columns small-12 medium-6">
    <%= cl_image_tag(@grant.image, class: "text-center")%>
  </div>
  
  <div class="columns small-12 medium-6">
    <h4 class="grant-section-title text-center">Summary</h4>
    <h6 class="text-center"><%= @grant.summary %></h6>
    <hr>
    <h4 class="text-center"><span class="amount">$<%= @grant.amount_raised %></span> of $<%= @grant.total_budget %>
      <% if @grant.days_left > 1 %>
        with <%= pluralize(@grant.days_left, 'day') %> left
      <% elsif @grant.days_left > 0 %>
        Last day to Donate!
      <% else %>
        <%= @grant.status %>
      <% end %>
    </h4>
    <div class="progress" role="progressbar" tabindex="0" aria-valuenow="<%= @grant.amount_raised %>" aria-valuemin="0" aria-valuemax="<%= @grant.total_budget %>">
      <div class="progress-meter" style="width: <%= @grant.percent_complete %>%"></div>
    </div>
    <% if @grant.approved? %>
      <%= button_to "Donate!", new_grant_payment_path(@grant), method: "get", class: "button warning large float-center" %>
    <% end %>
  </div>
  <% if @embed %>
    <div class="columns small-12">
    <br>
      <iframe src= <%= @embed %> width="450" height="225" class= "float-center"></iframe>
    </div>
  <% end %>
</div>
<hr>
<div class="row">
  <div class="columns small-12">
    <h3>Description</h3>
  </div>
  <div class="columns medium-12">
    <table class="unstriped stack">
      <tbody>
        <tr>
          <td valign="top"><h5 class="grant-section-title">Purpose:</h5></td>
          <td><p class="grant-content"><%= @grant.purpose %></p></td>
        </tr>
        <tr>
          <td valign="top"><h5 class="grant-section-title">Methods:</h5></td>
          <td><p class="grant-content"><%= @grant.methods %></p></td>
        </tr>
        <tr>
          <td valign="top"><h5 class="grant-section-title">Teacher Background:</h5></td>
          <td><p class="grant-content"><%= @grant.background %></p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns small-12">
    <h3>Details</h3>
  </div>
  <div class="columns medium-8 small-12">
    <table class="unstriped">
      <tbody>
        <tr>
          <td><h5 class="grant-section-title">Grade Level:</h5></td>
          <td><h5 class="grant-content"><%= @grant.grade_level %></h5></td>
        </tr>
        <tr>
          <td><h5 class="grant-section-title">Duration:</h5></td>
          <td><h5 class="grant-content"><%= @grant.duration %></h5></td>
        </tr>
        <tr>
          <td><h5 class="grant-section-title"># of Classes:</h5></td>
          <td><h5 class="grant-content"><%= @grant.num_classes %></h5></td>
        </tr>
        <tr>
          <td><h5 class="grant-section-title"># of Students:</h5></td>
          <td><h5 class="grant-content"><%= @grant.num_students %></h5></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="columns medium-4 small-12">
    <table class="unstriped">
      <tbody>
        <tr>
          <td><h5 class="grant-section-title">Collaborators:</h5></td>
        </tr>
        <tr>
          <td><h5><%= @grant.collaborators %></h5></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns small-12">
    <h3>Allocation</h3>
  </div>
  <div class="columns medium-12">
    <table class="unstriped stack">
      <tbody>
        <tr>
          <td valign="top"><h5 class="grant-section-title">Budget:</h5></td>
          <td><p class="grant-content">$<%= @grant.total_budget %> (does not include 9% administrative and credit card processing fee)</p></td>
        </tr>
        <tr>
          <td valign="top"><h5 class="grant-section-title">Description:</h5></td>
          <td><p class="grant-content"><%= @grant.budget_desc %></p></td>
        </tr>
        <tr>
          <td valign="top"><h5 class="grant-section-title">Use of Funds:</h5></td>
          <td><p class="grant-content"><%= @grant.funds_will_pay_for %></p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="columns small-12">
    <h3>Additional Comments:</h3>
  </div>
  <div class="columns medium-12">
    <p class="grant-content"><%= @grant.comments %></p>
  </div>
</div>
