<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "BPSF Friends and Family" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.css" %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.js'%>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%= javascript_include_tag "https://js.stripe.com/v3/" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class= "banner">
      <%= image_tag image_path("https://i.imgur.com/FNPQBLT.png"), size: "80", class: "beta-banner" %>
    </div>
    <div class="page">
      <%= render "shared/header" %>
      <%= render "shared/fullnavbar" %>
      <%= render "shared/collapsednavbar" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if flash[:info] %>
        <p class="info"><%= flash[:info] %></p>
      <% end %>



      <%= yield %>
      <%= render "shared/collapsedfooter" %>
      <%= render "shared/fullfooter" %>
    </div>



  </body>
</html>
